body {
    font-family: sans-serif;
    margin: 20px;
    text-align: center;
    background: radial-gradient(#ffffcc 0%, #ff99cc 100%);
    font-size: 40px;
    
}

#add-task input {
    padding: 8px;
    margin-right: 5px;
    

}

#task-list li {
    margin-bottom: 100px;
}

.completed {
    text-decoration: line-through;
    color: yellow;
}
